:root {
  --lightCyan: hsl(193, 38%, 86%);
  --neonGreen: hsl(150, 100%, 66%);
  --grayBlue: hsl(217, 19%, 38%);
  --darkGrayBlue: hsl(217, 19%, 24%);
  --darkBlue: hsl(218, 23%, 16%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Manrope;
  src: url('../asset/Manrope-Regular.ttf');
}

body {
  font-size: 16px;
  font-family: Manrope, sans-serif;
  height: 100%;
  width: 100%;
  background-color: var(--darkBlue);
  position: relative;
}

q {
  font-size: 1.8em;
}

.container {
  background-color: var(--darkGrayBlue);
  width: 90%;
  height: max-content;
  border-radius: 10px;
  padding: 2em 2em 3em;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container h6 {
  margin-bottom: 2em;
  color: var(--neonGreen);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.container blockquote {
  color: var(--lightCyan);
  font-weight: 700;
  line-height: 1.9em;
}

.container img {
  display: block;
  margin: 1em auto;
}

.container img.dice {
  background-color: var(--neonGreen);
  width: 100%;
  max-width: 50px;
  padding: 0.8em;
  border-radius: 2em;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 80%);
  cursor: pointer;
  transition: .1s all ease-in-out;
}
.container img.dice:hover {
  box-shadow: 2px 2px 20px -2px var(--neonGreen),
   -2px -2px 20px -2px var(--neonGreen);
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
  .container {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }
  .container {
    width: 50%;
  }
}